<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body style="padding: 0; margin: 0">
    <table
      align="center"
      style="margin: 0px auto; width: 960px"
      border="0"
      cellspacing="0"
      cellpadding="0"
    >
      <tbody>
        <tr>
          <td height="80"></td>
        </tr>
        <tr>
          <td>
            <table
              cellpadding="0"
              cellspacing="0"
              style="
                border: 0;
                border-spacing: 0;
                border-collapse: collapse;
                width: 800px;
                font-size: 0;
                margin: 0 auto;
                background-color: #ffffff;
              "
            >
              <tbody>
                <tr>
                  <td width="80"></td>
                  <td>
                    <table
                      cellpadding="0"
                      cellspacing="0"
                      style="
                        border: 0;
                        border-spacing: 0;
                        border-collapse: collapse;
                        width: 800px;
                        font-size: 0;
                        margin: 0 auto;
                        background-color: #ffffff;
                      "
                    >
                      <tbody>
                        <tr>
                          <td style="text-align: center">
                            <a
                              style="display: inline-block"
                              href="#/"
                              target="_blank"
                            >
                              <img
                                alt="메인으로 이동"
                                width="204"
                                height="69"
                                style="color: transparent; display: block"
                                src="https://placehold.co/204x69"
                              />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td height="45"></td>
                        </tr>
                        <tr>
                          <td>
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              style="
                                border: 0;
                                border-spacing: 0;
                                border-collapse: collapse;
                                width: 800px;
                                font-size: 0;
                                text-align: center;
                                margin: 0 auto;
                                background-color: #ffffff;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      display: inline-block;
                                      margin-right: 18px;
                                    "
                                  >
                                    <img
                                      src="https://web-agency-bucket.s3.ap-northeast-2.amazonaws.com/icon_notice.png"
                                      alt="알림"
                                    />
                                  </td>
                                  <td
                                    style="
                                      display: inline-block;
                                      font-family:
                                        '맑은고딕',
                                        Malgun Gothic,
                                        sans-serif;
                                      font-size: 34px;
                                      line-height: 47px;
                                      font-weight: 700;
                                      color: #000000;
                                      word-break: break-all;
                                    "
                                  >
                                    관심 고객 문의가 등록 되었습니다.
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td
                            height="75"
                            style="border-bottom: 1px solid #e7e7e7"
                          ></td>
                        </tr>
                        <tr>
                          <td height="100"></td>
                        </tr>
                        <tr>
                          <td>
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              style="
                                border: 0;
                                border-spacing: 0;
                                border-collapse: collapse;
                                width: 800px;
                                font-family:
                                  '맑은고딕',
                                  Malgun Gothic,
                                  sans-serif;
                                font-size: 0;
                                margin: 0 auto;
                                background-color: #f2f2f2;
                              "
                            >
                              <tbody>
                                <tr>
                                  <td height="88"></td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      font-family:
                                        '맑은고딕',
                                        Malgun Gothic,
                                        sans-serif;
                                      font-size: 24px;
                                      line-height: 30px;
                                      font-weight: 500;
                                      color: #2b2b2b;
                                      text-align: center;
                                      word-break: break-all;
                                    "
                                  >
                                    관리자 사이트에서 관심고객 문의 정보를
                                    확인하세요.
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30"></td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      font-family:
                                        '맑은고딕',
                                        Malgun Gothic,
                                        sans-serif;
                                      font-size: 14px;
                                      line-height: 20px;
                                      font-weight: 500;
                                      color: #2b2b2b;
                                      text-align: center;
                                      word-break: break-all;
                                    "
                                  >
                                    본 메일은 @@@@ 홈페이지에서 자동으로 발송된
                                    수신 전용 안내 메일로 발신자에게 회신 할 수
                                    없습니다.
                                  </td>
                                </tr>
                                <tr>
                                  <td height="88"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="100"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="70"></td>
                </tr>
              </tbody>
            </table>
            <table
              cellpadding="0"
              cellspacing="0"
              style="
                border: 0;
                border-spacing: 0;
                border-collapse: collapse;
                width: 800px;
                font-family:
                  '맑은고딕',
                  Malgun Gothic,
                  sans-serif;
                font-size: 0;
                margin: 0 auto;
                background-color: #f2f2f2;
              "
            >
              <tbody>
                <tr>
                  <td height="45"></td>
                </tr>
                <tr>
                  <td
                    style="
                      font-family:
                        '맑은고딕',
                        Malgun Gothic,
                        sans-serif;
                      font-size: 16px;
                      line-height: 20px;
                      font-weight: 500;
                      color: #2b2b2b;
                      text-align: center;
                      word-break: break-all;
                    "
                  >
                    copyrightⓇ 2024 All Rights Reserved.
                  </td>
                </tr>
                <tr>
                  <td height="45"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="80"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
