<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="padding:160px; margin: 0;">
    <table align="center" style="margin: 0px auto; width: 480px;" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0"
                        style="border: 1px solid #E6E6E7; border-bottom-left-radius: 8px; border-spacing: 0; border-collapse: collapse; width: 480px; font-size: 0; margin: 0 auto; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td width="32"></td>
                                <td width="auto">
                                    <table cellpadding="0" cellspacing="0"
                                        style="border: 0; border-spacing: 0; border-collapse: collapse; width: 416px; font-size: 0; margin: 0 auto; background-color: #ffffff;">
                                        <tbody>
                                            <tr>
                                                <td colspan="3" height="32"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <a style="display: inline-block;" href="#/" target="_blank">
                                                        <img alt="MCLOSE 로고" width="112" height="20"
                                                            style="color: transparent; display: block;"
                                                            src="https://mclose-resource-prod.s3.ap-northeast-2.amazonaws.com/images/logo/logo-mclose-color1.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" height="40"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 24px; line-height: 160%; font-weight: 500; color: #1A1D23; word-break: break-all;">
                                                    <span style="font-weight: 700;">[$_USERNAME_$]</span>님의<br>
                                                    문의가 등록되었습니다.
                                                </td>
                                            </tr>
                                                <td colspan="3" height="32"></td>
                                            </tr>
                                            <tr>
                                                <td width="16" style="background-color: #EEF2FF; border-top-left-radius: 8px; border-bottom-left-radius: 8px;"></td>
                                                <td>
                                                    <table align="center" style="width: 100%; margin: 0px auto; background-color: #EEF2FF;" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td height="16"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="95">
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 700; color: #493CC6; word-break: break-all;">휴대전화번호</span>
                                                                </td>
                                                                <td>
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 400; color: #404347; word-break: break-all;">[$_USERPHONE_$]</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height='12'></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="95">
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 700; color: #493CC6; word-break: break-all;">회사전화번호</span>
                                                                </td>
                                                                <td>
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 400; color: #404347; word-break: break-all;">[$_COPHONE_$]</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height='12'></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="95">
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 700; color: #493CC6; word-break: break-all;">이메일</span>
                                                                </td>
                                                                <td>
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 400; color: #404347; word-break: break-all;">[$_USEREMAIL_$]</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height='12'></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="95">
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 700; color: #493CC6; word-break: break-all;">회사명</span>
                                                                </td>
                                                                <td>
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 400; color: #404347; word-break: break-all;">[$_CONAME_$]</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height='12'></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="95">
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 700; color: #493CC6; word-break: break-all;">부서명</span>
                                                                </td>
                                                                <td>
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 400; color: #404347; word-break: break-all;">[$_DIVISIONNAME_$]</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="16"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="16" style="background-color: #EEF2FF; border-top-right-radius: 8px; border-bottom-right-radius: 8px;"></td>
                                            </tr>
                                            <tr>
                                                <td height="32"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 16px; line-height: 160%; font-weight: 700; color: #1A1D23; word-break: break-all;">
                                                    문의사항
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="8"></td>
                                            </tr>
                                            <tr>
                                                <td width="16" style="background-color: #F7F7F8; border-top-left-radius: 8px; border-bottom-left-radius: 8px;"></td>
                                                <td>
                                                    <table align="center" style="width: 100%; margin: 0px auto; background-color: #F7F7F8;" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td height="16"></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="min-height: 140px;">
                                                                    <span style="font-family: '맑은고딕',Malgun Gothic, sans-serif; font-size: 14px; line-height: 160%; font-weight: 400; color: #404347; word-break: break-all;">[$_REQUEST_$]</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="16"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="16" style="background-color: #F7F7F8; border-top-right-radius: 8px; border-bottom-right-radius: 8px;"></td>
                                            </tr>
                                            <tr>
                                                <td height="32"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="32"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>